header{
    position: fixed;
    width: 100vw;
    padding: 0 15px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(133, 131, 134, 0.308);
    z-index: 997;
    margin: 0 auto;
}

.grid{
    display: grid;
        grid-template-columns: 1fr 4fr .3fr .3fr;
        justify-content: space-between;       
}

.logo{
    width: 8rem;
    padding: .8rem 0 0 5rem;
}

.container__img{
    width: 100%;
}

.header__nav{
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    margin: 0 1rem 0 0;
    ul{
        font-size: 0;
        padding: .8rem 0 0 0;
        justify-content: center;
    }
    a{
        display: block;
        position: relative;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: rgb(98, 80, 180);
        transition: color;
        :hover{
            color: rgb(133, 131, 134);
        }
    }
}

.dropdown{
    display: none;
    position: absolute;
    left: 0;
    z-index: 99;
    background: #fff;
    li{
        width: auto;
        display: block;
    }
    a{
        padding: .5rem 1rem 1rem 1rem;
    }
}

ul li:hover .dropdown{
    display: block;
}

.iconify{
    width: 1.5rem; 
    height: 1.5rem;
    color: rgb(98, 80, 180);
    transition: color;
    :hover{
        color: rgb(133, 131, 134);
    }
}

.icon{
    padding: 1.2rem 0 1rem 0;
    width: 6rem;
}

#icon{
    margin: 0 2rem 0 .5rem;
}

li{
    width: 100px;
    display: inline-block;
    position: relative;
}