.titulo--portfolio{
    text-align: center;
    padding-bottom: 2rem;
}
.container_article--portfolio{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    div{
        width: 27rem;
        height: 20rem;
    }
    padding-bottom: 2rem;
}
$color: black, blue, aqua, yellow, pink, brown;
@each $color in $color{
    .icon-#{$color} {
        background-color: $color;
    }
}
    