@media only screen and (max-width:600px){
    .logo{
        width: 8rem;
        padding: .8rem 0 0 1rem;
    }
    #icon{
        margin: 0 4rem 0 0;
    }
    .container__img{
        width: 100rem;
    }
    .container__div--nosotros{
        img{
            height: auto;
            width: 100%;
            margin: 1rem 0 0 0;
        }
        p{
            width: 100%;
            height: auto;
            margin: 0 2% 0 0;
            font-size: 10px;
        }
        h1{
            display: block;
            width: 100%;
            color: rgb(98, 80, 180);
            font-size: 14px;
        }
    }
    .container__footer--redes{
        display: flex;
        height: auto;
        width: 100%;
        padding-right: 10px;
        div{
            h4{
                display: flex;
                height: auto;
                width: 100%;
            }
        }
        div{
            p{
                display: flex;
                width: 100%;
                height: auto;
                margin-top: 0px;
                font-size: 8px;
            }
        }
    }
    .container__footer--newsletter{
        display: flex;
        width: 100%;
        padding: 0.8rem 0 0 0;
        div{
            h4{
                display: flex;
                height: auto;
                width: 100%;
            }
        }
        div{
            p{
                display: flex;
                width: 100%;
                height: auto;
                margin-top: 0px;
                font-size: 8px;
            }
        }
    }
    .email{
        font-size: 10px;
    }
    .container__footer{
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;        
        padding: 15px 15px 25px 15px;
        margin: 0 5% 0;
    }
}

@media only screen and (max-width: 1999px){
    
}