
.container__fondo--servicios{
    background-color: rgb(248, 177, 248); 
    padding: 3rem;
}
.col{
    padding-left: 3%;
    padding-right: 3%;
}
.firts{
    margin-top: 6rem;
}
.second{
    margin-top: 6rem;
}
.card-icon{
    width: 80px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
}
