$color-footer: #5df1de;
$width_p: 250px;
$width_img: 31.25rem; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    color: rgb(133, 131, 134);
}

.container{
    padding: 10rem 5rem .2rem 6rem;
}

.container__div--nosotros{
    img{
        height: auto;
        @if $width_img == 31.25rem {
            display: flex;
        }
        @else if $width_img == 20rem{
            display: block;
        }
    }
    p{
        width: $width_p*2;
        height: auto;
        margin: 0 2% 0 0;
    }
    h1{
        display: block;
        width: 100%;
        color: rgb(98, 80, 180);
    }
}

.container__section--nosotros{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    width: 100%;
    padding: 3rem 0 3rem 0;
}

.email{
    font-size: 12px;
}

.contact{
    display: flex;
    width: 46%;
    flex-direction: column;
    margin-left: 20px;
}
.map{
    display: flex;
}

.datos{
    display: flex;
}

.container__div--dev{
    display: grid;
        grid-template-areas: "foto1 foto1" "foto2 foto3" "foto4 foto4";
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-rows: 15rem 26rem 20rem;
        grid-template-columns: 20rem 30rem;
    position: relative;
    padding: 0 18rem 0 18rem;


}

.container__div--des{
    display: grid;
        grid-template-areas: "foto1 foto1" "foto2 foto3" "foto4 foto4";
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-rows: 15rem 26rem 20rem;
        grid-template-columns: 20rem 30rem;
    position: relative;
    padding: 0 18rem 0 18rem;


}
.a{
    grid-area: foto1;
    background:  rgb(160, 80, 180);
}
.b{
    grid-area: foto2;
    background:  rgb(98, 80, 180);   
}
.c{
    grid-area: foto3;
    background:  rgb(123, 80, 180);
}
.d{
    grid-area: foto4;
    background:  rgb(98, 80, 180);
}

@import "nav";
@import "footer";
@import "querys";
@import "servicios";
@import "equipo";
@import "portfolio";