$color-footer: #5df1de;
$width_p: 250px;
$width_img: 31.25rem; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    padding: 0 2rem 0 3rem;
}

.iconify{
    width: 1.5rem; 
    height: 1.5rem;
    color: rgb(98, 80, 180);
    transition: color;
    :hover{
        color: rgb(133, 131, 134);
    }
}

.icon{
    padding: 1.2rem 0 1rem 0;
    width: 6rem;
}

#icon{
    margin: 0 2rem 0 .5rem;
}
p {
    color: rgb(133, 131, 134);
}
.firts-diseño{
    margin-top: 6rem;
    padding-left: 3rem;
    color: rgb(98, 80, 180)
}

.container{
    padding: 10rem 0 .2rem 0;
}

.carousel-caption{
    h5{
        text-align: left;
        font-weight: bolder;
        font-size: 70px;
    
    }
}

.container__div--nosotros{
    img{
        height: auto;
        @if $width_img == 31.25rem {
            display: flex;
        }
        @else if $width_img == 20rem{
            display: block;
        }
    }
    p{
        width: $width_p*2;
        height: auto;
        margin: 0 2% 0 0;
        padding-top: 2rem;
    }
    h1{
        display: block;
        width: 100%;
        color: rgb(98, 80, 180);
    }
}

.container__section--nosotros{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    width: 100%;
    padding: 6rem 0 3rem 0;
}

.email{
    font-size: 12px;
}

.datos{
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    margin: 6rem auto 1rem auto;
    padding: 0;
    width: 100%;
}
.contact{
    padding-right: 2rem;
    width: 50%;
    div{
        padding-top: .5rem;
        font-size: 16px;
        .label{
            font-weight: bold;
            display: block;
        }
        .input{
            width: 100%;
        }
        .texto{
            width: 100%;
        }
    }
}
.card-group{
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

@import "footer";
@import "servicios";
@import "equipo";
@import "querys";