@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  padding: 0 2rem 0 3rem;
}

.iconify {
  width: 1.5rem;
  height: 1.5rem;
  color: #6250b4;
  transition: color;
}
.iconify :hover {
  color: #858386;
}

.icon {
  padding: 1.2rem 0 1rem 0;
  width: 6rem;
}

#icon {
  margin: 0 2rem 0 0.5rem;
}

p {
  color: #858386;
}

.firts-diseño {
  margin-top: 6rem;
  padding-left: 3rem;
  color: #6250b4;
}

.container {
  padding: 10rem 0 0.2rem 0;
}

.carousel-caption h5 {
  text-align: left;
  font-weight: bolder;
  font-size: 70px;
}

.container__div--nosotros img {
  height: auto;
  display: flex;
}
.container__div--nosotros p {
  width: 500px;
  height: auto;
  margin: 0 2% 0 0;
  padding-top: 2rem;
}
.container__div--nosotros h1 {
  display: block;
  width: 100%;
  color: #6250b4;
}

.container__section--nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 6rem 0 3rem 0;
}

.email {
  font-size: 12px;
}

.datos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 6rem auto 1rem auto;
  padding: 0;
  width: 100%;
}

.contact {
  padding-right: 2rem;
  width: 50%;
}
.contact div {
  padding-top: 0.5rem;
  font-size: 16px;
}
.contact div .label {
  font-weight: bold;
  display: block;
}
.contact div .input {
  width: 100%;
}
.contact div .texto {
  width: 100%;
}

.card-group {
  padding: 1rem;
  margin: 0 2rem 0 2rem;
}

.container__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.12rem 7.5rem 1.56rem 6rem;
  background-color: #5df1de;
}

.container__footer--redes {
  display: flex;
  height: auto;
  width: 50%;
  padding-right: 10px;
}
.container__footer--redes div h4 {
  display: flex;
  height: auto;
  width: 100%;
}
.container__footer--redes div p {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 0 1rem 0;
  font-size: 12px;
  color: #000;
}

.container__footer--newsletter {
  display: flex;
  width: 45%;
  padding-left: 0.8rem;
}
.container__footer--newsletter div h4 {
  display: flex;
  height: auto;
  width: 100%;
}
.container__footer--newsletter div p {
  width: 100%;
  height: auto;
  margin: 0;
  font-size: 12px;
  padding: 0 0.8rem 0 0;
  color: #000;
}
.container__footer--newsletter div form {
  padding-top: 1rem;
}

.container__footer--icon {
  color: #000;
  transition: color;
}
.container__footer--icon :hover {
  color: #fff;
}

.container__fondo--servicios {
  background-color: #f8b1f8;
  padding: 3rem;
}

.col {
  padding-left: 3%;
  padding-right: 3%;
}

.firts {
  margin-top: 6rem;
}

.second {
  margin-top: 6rem;
}

.card-icon {
  width: 80px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.container__section--equipo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.container__div--equipo {
  margin-right: 2%;
}
.container__div--equipo img {
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
}
.container__div--equipo p {
  width: 100%;
  height: auto;
  margin: 0 2% 0 0;
  padding-bottom: 1rem;
}
.container__div--equipo h3 {
  display: block;
  width: 100%;
  color: #6250b4;
  padding-bottom: 1rem;
}

@media (max-width: 576px) {
  .container {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .container__div--nosotros img {
    height: auto;
    width: 100%;
    margin: 1rem 0 0 0;
  }
  .container__div--nosotros p {
    width: 100%;
    height: auto;
    font-size: 10px;
    padding-top: 1rem;
  }
  .container__div--nosotros h1 {
    display: block;
    width: 100%;
    color: #6250b4;
    font-size: 14px;
  }

  .container__footer--redes {
    display: flex;
    height: auto;
    width: 100%;
    padding-right: 0.8rem;
  }
  .container__footer--redes h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }
  .container__footer--redes p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 8px;
  }

  .container__footer--newsletter {
    display: flex;
    width: 100%;
    padding: 0.8rem 0 0 0;
  }
  .container__footer--newsletter h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }
  .container__footer--newsletter p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 8px;
  }

  .email {
    font-size: 10px;
  }

  .container__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 1rem 1.6rem 1rem;
    margin: 0;
  }

  .firts {
    margin-top: 6rem;
  }

  .firts-diseño {
    margin-top: 6rem;
    padding-left: 3rem;
    color: #6250b4;
  }

  .card-icon {
    width: 80px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }

  .container__fondo--servicios {
    padding: 1rem;
  }

  .container__section--equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  .container__div--equipo img {
    height: auto;
    width: 540px;
    max-width: 100%;
    padding-bottom: 2rem;
  }
  .container__div--equipo p {
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 14px;
  }
  .container__div--equipo h3 {
    display: block;
    width: 100%;
    color: #6250b4;
    padding-bottom: 1rem;
    font-size: 18px;
  }

  .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact {
    width: 100%;
    margin: 6rem auto 1rem auto;
  }
  .contact div {
    padding-top: 0.5rem;
    font-size: 12px;
  }
  .contact div .label {
    font-weight: bold;
    display: block;
  }
  .contact div .input {
    width: 100%;
  }
  .contact div .texto {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    padding: 1rem 0 0 0;
  }

  .container__div--nosotros img {
    height: auto;
    margin: 1rem 0 1rem 0;
    width: 760px;
    max-width: 100%;
  }
  .container__div--nosotros p {
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 12px;
    padding-top: 1rem;
  }
  .container__div--nosotros h1 {
    display: block;
    width: 100%;
    color: #6250b4;
    font-size: 16px;
  }

  .container__footer--redes {
    display: flex;
    height: auto;
    width: 100%;
    padding-right: 0.8rem;
  }
  .container__footer--redes h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }
  .container__footer--redes p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 8px;
  }

  .container__footer--newsletter {
    display: flex;
    width: 100%;
    padding: 0.8rem 0 0 0;
  }
  .container__footer--newsletter h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }
  .container__footer--newsletter p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 8px;
  }

  .email {
    font-size: 10px;
  }

  .container__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 1.5rem 1.6rem 1.4rem;
  }

  .firts {
    margin-top: 6rem;
  }

  .firts-diseño {
    margin-top: 6rem;
    padding-left: 3rem;
    color: #6250b4;
  }

  .second {
    margin-top: 6rem;
  }

  .card-icon {
    width: 80px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }

  .container__fondo--servicios {
    padding: 1rem;
  }

  .container__section--equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  .container__div--equipo img {
    height: auto;
    width: 740px;
    max-width: 100%;
    padding-bottom: 2rem;
  }
  .container__div--equipo p {
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 14px;
  }
  .container__div--equipo h3 {
    display: block;
    width: 100%;
    color: #6250b4;
    padding-bottom: 1rem;
    font-size: 18px;
  }

  .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 6rem auto 1rem auto;
  }

  .contact {
    width: 100%;
    padding-right: 2rem;
  }
  .contact div {
    padding-top: 0.5rem;
    font-size: 12px;
  }
  .contact div .label {
    font-weight: bold;
    display: block;
  }
  .contact div .input {
    width: 100%;
  }
  .contact div .texto {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .container__section--nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 900px;
    max-width: 100%;
    padding: 3rem 2rem 3rem 2rem;
  }

  .container__div--nosotros img {
    height: auto;
    margin: 1rem 0 1rem 0;
    width: 900px;
    max-width: 100%;
  }
  .container__div--nosotros p {
    width: 90%;
    height: auto;
    margin: 0;
    font-size: 12px;
    padding-top: 1rem;
  }
  .container__div--nosotros h1 {
    display: block;
    width: 100%;
    color: #6250b4;
    font-size: 16px;
  }

  .container__footer--redes {
    display: flex;
    height: auto;
    width: 100%;
    padding-right: 0.8rem;
  }
  .container__footer--redes h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }
  .container__footer--redes p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 8px;
  }

  .container__footer--newsletter {
    display: flex;
    width: 100%;
    padding: 0.8rem 0 0 0;
  }
  .container__footer--newsletter h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
  }
  .container__footer--newsletter p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 8px;
  }

  .email {
    font-size: 10px;
  }

  .container__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 1.5rem 1.6rem 1.4rem;
  }

  .col {
    padding-left: 2%;
    padding-right: 2%;
  }

  .firts {
    margin-top: 6rem;
  }

  .firts-diseño {
    margin-top: 6rem;
    padding-left: 3rem;
    color: #6250b4;
  }

  .second {
    margin-top: 6rem;
  }

  .card-icon {
    width: 80px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }

  .container__fondo--servicios {
    padding: 1rem;
  }

  .container__section--equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5rem auto 0 auto;
    padding: 3rem 2rem 3rem 2rem;
    max-width: 940px;
  }

  .container__div--equipo img {
    height: auto;
    width: 940px;
    max-width: 100%;
    padding: 0;
  }
  .container__div--equipo p {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 1rem 1rem 0;
    font-size: 14px;
  }
  .container__div--equipo h3 {
    display: block;
    width: 100%;
    color: #6250b4;
    padding-bottom: 1rem;
    font-size: 20px;
  }

  .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 6rem auto 1rem auto;
    padding: 0;
  }

  .contact {
    width: 50%;
    padding-right: 2rem;
  }
  .contact div {
    padding-top: 0.5rem;
    font-size: 12px;
  }
  .contact div .label {
    font-weight: bold;
    display: block;
  }
  .contact div .input {
    width: 100%;
  }
  .contact div .texto {
    width: 100%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .container__section--nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 1150px;
    max-width: 100%;
    padding: 5rem 2rem 3rem 2rem;
  }

  .container__div--nosotros img {
    height: auto;
    margin: 1rem 0 1rem 0;
    width: 1100px;
    max-width: 100%;
  }
  .container__div--nosotros p {
    width: 90%;
    height: auto;
    margin: 0;
    font-size: 14px;
    padding-top: 1rem;
  }
  .container__div--nosotros h1 {
    display: block;
    width: 100%;
    color: #6250b4;
    font-size: 20px;
  }

  .container__footer--redes {
    display: flex;
    height: auto;
    width: 100%;
    padding-right: 0.8rem;
  }
  .container__footer--redes h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 16px;
  }
  .container__footer--redes p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 10px;
  }

  .container__footer--newsletter {
    display: flex;
    width: 100%;
    padding: 0.8rem 0 0 0;
  }
  .container__footer--newsletter h4 {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 16px;
  }
  .container__footer--newsletter p {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    font-size: 10px;
  }

  .email {
    font-size: 12px;
  }

  .container__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2rem 1.6rem 2rem;
  }

  .col {
    padding-left: 3%;
    padding-right: 3%;
  }

  .firts {
    margin-top: 6rem;
  }

  .firts-diseño {
    margin-top: 6rem;
    padding-left: 3rem;
    color: #6250b4;
  }

  .second {
    margin-top: 6rem;
  }

  .card-icon {
    width: 80px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }

  .container__fondo--servicios {
    padding: 1rem;
  }

  .container__section--equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5rem auto 0 auto;
    padding: 3rem 2rem 3rem 2rem;
    max-width: 1150px;
  }

  .container__div--equipo img {
    height: auto;
    width: 1150px;
    max-width: 100%;
    padding: 0;
  }
  .container__div--equipo p {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 1rem 1rem 0;
    font-size: 16x;
  }
  .container__div--equipo h3 {
    display: block;
    width: 100%;
    color: #6250b4;
    padding-bottom: 1rem;
    font-size: 22px;
  }

  .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 6rem auto 1rem auto;
    padding: 0;
    width: 100%;
  }

  .contact {
    padding-right: 2rem;
    width: 50%;
  }
  .contact div {
    padding-top: 0.5rem;
    font-size: 12px;
  }
  .contact div .label {
    font-weight: bold;
    display: block;
  }
  .contact div .input {
    width: 100%;
  }
  .contact div .texto {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */